In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [11]:
doctors=pd.read_csv("../data and predictions/doctors.csv")
doctors["Potot_url"]=["" for i in  range(len(doctors.iloc[:,1]))]
doctors.to_csv("../data and predictions/doctors.csv", index=False)

In [12]:
doctors

,Disease,Doctor Name,Specialization,Contact,Address,Email,Potot_url
0,Fungal infection,Dr. Ayesha Kumar,Dermatologist,555-1234-123,"Health St, Mumbai, Maharashtra, India",ayesha.kumar@healthcare.com,
1,Allergy,Dr. Rohan Mehta,Allergist,555-5678-456,"Allergy Rd, Delhi, India",rohan.mehta@allergycare.com,
2,GERD,Dr. Aarav Sharma,Gastroenterologist,555-8765-789,"Digestive Ln, Bangalore, Karnataka, India",aarav.sharma@gastrocare.com,
3,Chronic cholestasis,Dr. Pooja Singh,Hepatologist,555-2345-321,"Liver Ave, Hyderabad, Telangana, India",pooja.singh@hepatologycare.com,
4,Drug Reaction,Dr. Arjun Patel,Immunologist,555-3456-654,"Immune Blvd, Chennai, Tamil Nadu, India",arjun.patel@immunocare.com,
5,Peptic ulcer disease,Dr. Sanya Nair,Gastroenterologist,555-4567-987,"Ulcer Way, Kolkata, West Bengal, India",sanya.nair@gastrocare.com,
6,AIDS,Dr. Rajesh Gupta,Infectious Disease Specialist,555-6789-111,"Infection St, Pune, Maharashtra, India",rajesh.gupta@infectiouscare.com,
7,Diabetes,Dr. Manish Verma,Endocrinologist,555-7890-222,"Sugar Ln, Jaipur, Rajasthan, India",manish.verma@endocrinecare.com,
8,Gastroenteritis,Dr. Kavita Rao,Gastroenterologist,555-8901-333,"Stomach Blvd, Ahmedabad, Gujarat, India",kavita.rao@gastrocare.com,
9,Bronchial Asthma,Dr. Anjali Malhotra,Pulmonologist,555-9012-444,"Lung St, Surat, Gujarat, India",anjali.malhotra@pulmocare.com,
10,Hypertension,Dr. Vikram Iyer,Cardiologist,555-0123-555,"Heart Rd, Lucknow, Uttar Pradesh, India",vikram.iyer@cardiocare.com,
11,Migraine,Dr. Nisha Roy,Neurologist,555-1230-666,"Brain Ave, Kanpur, Uttar Pradesh, India",nisha.roy@neurocare.com,
12,Cervical spondylosis,Dr. Ramesh Kaur,Orthopedist,555-2340-777,"Spine St, Nagpur, Maharashtra, India",ramesh.kaur@orthocare.com,
13,Paralysis (brain hemorrhage),Dr. Leela Joshi,Neurologist,555-3450-888,"Stroke Rd, Indore, Madhya Pradesh, India",leela.joshi@neurocare.com,
14,Jaundice,Dr. Amit Dubey,Hepatologist,555-4560-999,"Yellow Ave, Thane, Maharashtra, India",amit.dubey@hepatologycare.com,
15,Malaria,Dr. Sneha Desai,Infectious Disease Specialist,555-5670-101,"Malaria Ln, Bhopal, Madhya Pradesh, India",sneha.desai@infectiouscare.com,
16,Chicken pox,Dr. Vishal Pillai,Dermatologist,555-6780-202,"Pox Rd, Patna, Bihar, India",vishal.pillai@dermatologycare.com,
17,Dengue,Dr. Kiran Pandey,Infectious Disease Specialist,555-7891-303,"Dengue Blvd, Ludhiana, Punjab, India",kiran.pandey@infectiouscare.com,
18,Typhoid,Dr. Poonam Aggarwal,Infectious Disease Specialist,555-8902-404,"Typhoid St, Agra, Uttar Pradesh, India",poonam.aggarwal@infectiouscare.com,
19,Hepatitis A,Dr. Sameer Prasad,Hepatologist,555-9013-505,"Hepatitis Ave, Nashik, Maharashtra, India",sameer.prasad@hepatologycare.com,
20,Hepatitis B,Dr. Smita Kulkarni,Hepatologist,555-0124-606,"B Virus Rd, Faridabad, Haryana, India",smita.kulkarni@hepatologycare.com,
21,Hepatitis C,Dr. Kunal Shetty,Hepatologist,555-1231-707,"C Virus Blvd, Meerut, Uttar Pradesh, India",kunal.shetty@hepatologycare.com,
22,Hepatitis D,Dr. Neha Bhatt,Hepatologist,555-2341-808,"D Virus Ln, Rajkot, Gujarat, India",neha.bhatt@hepatologycare.com,
23,Hepatitis E,Dr. Alok Kapoor,Hepatologist,555-3451-909,"E Virus Ave, Varanasi, Uttar Pradesh, India",alok.kapoor@hepatologycare.com,
24,Alcoholic hepatitis,Dr. Trisha Mahajan,Hepatologist,555-4561-111,"Alcohol Blvd, Srinagar, Jammu and Kashmir, India",trisha.mahajan@hepatologycare.com,
25,Tuberculosis,Dr. Deepak Reddy,Infectious Disease Specialist,555-5671-222,"TB St, Amritsar, Punjab, India",deepak.reddy@infectiouscare.com,
26,Common Cold,Dr. Swati Jain,General Practitioner,555-6781-333,"Cold Rd, Allahabad, Uttar Pradesh, India",swati.jain@generalcare.com,
27,Pneumonia,Dr. Navin Bansal,Pulmonologist,555-7892-444,"Pneumonia Ln, Ranchi, Jharkhand, India",navin.bansal@pulmocare.com,
28,Dimorphic hemorrhoids (piles),Dr. Priya Sood,Proctologist,555-8903-555,"Hemorrhoid St, Howrah, West Bengal, India",priya.sood@proctocare.com,
29,Heart attack,Dr. Suraj Ghosh,Cardiologist,555-9014-666,"Heart Attack Ave, Coimbatore, Tamil Nadu, India",suraj.ghosh@cardiocare.com,
30,Varicose veins,Dr. Anupama Dutta,Vascular Surgeon,555-0125-777,"Vein Blvd, Jabalpur, Madhya Pradesh, India",anupama.dutta@vascularcare.com,
31,Hypothyroidism,Dr. Tarun Chauhan,Endocrinologist,555-1232-888,"Thyroid St, Gwalior, Madhya Pradesh, India",tarun.chauhan@endocrinecare.com,
32,Hyperthyroidism,Dr. Anjali Thakur,Endocrinologist,555-2342-999,"Hyperthyroid Ln, Vijayawada, Andhra Pradesh, I...",anjali.thakur@endocrinecare.com,
33,Hypoglycemia,Dr. Ritu Rathi,Endocrinologist,555-3452-101,"Hypoglycemia Rd, Mysore, Karnataka, India",ritu.rathi@endocrinecare.com,
34,Osteoarthritis,Dr. Vinayak Bhat,Rheumatologist,555-4562-202,"Arthritis Ave, Kota, Rajasthan, India",vinayak.bhat@rheumatologycare.com,
35,Arthritis,Dr. Pankaj Goel,Rheumatologist,555-5672-303,"Joint St, Guwahati, Assam, India",pankaj.goel@rheumatologycare.com,
36,(vertigo) Paroxysmal Positional Vertigo,Dr. Kavya Krishnan,Neurologist,555-6782-404,"Vertigo Blvd, Chandigarh, India",kavya.krishnan@neurocare.com,
37,Acne,Dr. Prashant Jha,Dermatologist,555-7893-505,"Acne Ln, Bareilly, Uttar Pradesh, India",prashant.jha@dermatologycare.com,
38,Urinary tract infection,Dr. Ananya Sen,Urologist,555-8904-606,"UTI Rd, Aligarh, Uttar Pradesh, India",ananya.sen@urologycare.com,
39,Psoriasis,Dr. Meena Nair,Dermatologist,555-9015-707,"Psoriasis Blvd, Jodhpur, Rajasthan, India",meena.nair@dermatologycare.com,
40,Impetigo,Dr. Raghav Sinha,Dermatologist,555-0126-808,"Malviya Nagar, Jaipur, Rajasthan, India",raghav.sinha@dermatologycare.com,

In [244]:
heart_data=pd.read_csv("./heart_disease.csv")

In [245]:
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [246]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        297 non-null    int64
 1   sex        297 non-null    int64
 2   cp         297 non-null    int64
 3   trestbps   297 non-null    int64
 4   chol       297 non-null    int64
 5   fbs        297 non-null    int64
 6   restecg    297 non-null    int64
 7   thalach    297 non-null    int64
 8   exang      297 non-null    int64
 9   oldpeak    297 non-null    float64
 10  slope      297 non-null    int64
 11  ca         297 non-null    int64
 12  thal       297 non-null    int64
 13  condition  297 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 32.6 KB

In [247]:
heart_data.isnull().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [248]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,2.158249,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,0.602694,0.676768,0.835017,0.461279
std,9.049736,0.468500,0.964859,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965,0.956690,0.499340
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,2.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,56.000000,1.000000,2.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,0.000000,0.000000
75%,61.000000,1.000000,3.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,1.000000,1.000000,2.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,3.000000,2.000000,1.000000

In [249]:
heart_data.shape

(297, 14)

In [250]:
heart_data.rename(columns={'condition': 'target'}, inplace=True)
#1->have heart diseases
#0->not have heart diseases
heart_data["target"].value_counts()

target
0    160
1    137
Name: count, dtype: int64

In [251]:
X=heart_data.drop("target",axis=1)
Y=heart_data["target"]

In [252]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2

In [253]:
# splitting our dataset into training and testing for this we will use train_test_split library.
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= 0.25, random_state=42)

In [254]:
print(X.shape,x_train.shape,x_test.shape)

(297, 13) (222, 13) (75, 13)

In [255]:
# creating K-Nearest-Neighbor classifier
model=RandomForestClassifier(n_estimators=20)

In [256]:

model.fit(x_train, y_train)

p = model.score(x_test,y_test)
print(p)

0.8133333333333334

In [257]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2

In [258]:
y_pred= model.predict(x_test)
print(y_pred)

[1 1 0 0 1 0 1 1 1 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0 0 1 1 1 0 1 0 1 0 0 1 1 1
 0 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 1 0 0 1 1 1 1 1 0 0 1 0 0 1 0 1 1 0 1 0
 1]

In [259]:

print('Accuracy: {}%\n'.format(round((accuracy_score(y_test, y_pred)*100),2)))

cm = confusion_matrix(y_test, y_pred)
print(cm)

Accuracy: 81.33%

[[31  7]
 [ 7 30]]

In [260]:
from sklearn import metrics
ClassificationReport=metrics.classification_report(y_pred,y_test)

In [261]:
print("Classification Report")
print(ClassificationReport)

Classification Report
              precision    recall  f1-score   support

           0       0.82      0.82      0.82        38
           1       0.81      0.81      0.81        37

    accuracy                           0.81        75
   macro avg       0.81      0.81      0.81        75
weighted avg       0.81      0.81      0.81        75

In [262]:
import pickle
filename="heart_model.sav"
pickle.dump(model,open(filename,"wb"))
loaded_model=pickle.load(open(filename,"rb"))